.page__footer-follow,
.page__footer > a,
.page__footer-copyright {
  max-width: 100% !important;
  text-align: left !important;
  padding-left: 1em !important;
}

.page__footer-follow ul {
  justify-content: flex-start !important;
}